body {
  margin: 0;
}

#map {
  position: absolute;
  width: 100vw;
  height: 100vh;
}



.title {
  font-family: 'Lato', sans-serif;
  z-index: 1000;
  position: absolute;
  left: 2.5em;
  top: 1em;
  color: blue;
  background-color: rgba(111, 233, 166, 1);
  padding: .25em .75em .25em .50em;
  border-radius: .6em;
  border: .30em dashed rgba(256, 256, 256, .77);
  box-shadow: .2em -.1em .6em .35em rgba(0, 0, 0, 0.55);
  font-weight: bold;
  font-size: 1.7em;
}

/* .frame {
  color: blue;
  font-weight: bold;
} */

/* .tld {
  font-size: smaller;
}

.smaller {
  font-size: smaller;
} */





.leaflet-popup-content-wrapper , .leaflet-popup-tip 
{
  background-color: rgba(188, 255, 222, .83);
}

.leaflet-popup-content-wrapper {
  overflow: hidden;
}

.spac {
  /* padding: 0 .15em 0 1.5em; */
  padding-left: 1.5em;
  margin: 0 .1em 0 .1em;
  border-radius: .25em;
  background-color: blue;
  color: white;
  border: .1em solid transparent;
}

.spac:hover {
  background-color: white;
  color: blue;
  border: .1em solid blue;
}

a#url {
  display: inline-block;
  width: 200%;
  color: black;
  background: transparent;
  margin-top: 0.5em;
  padding-left: 25%;
  position: relative;
  right: 125%;
  cursor: alias;
  text-align: right;
}

a#url:hover {
  color: white;
  background: black;
  text-decoration: none;
  text-align: left;
  left: -25%;
}

a h2 {
  padding: 0.2em 0.3em 0.2em 2em;
  display: inline;
  color: white !important;
  text-decoration: none !important;
  border-radius: .25em;
  background: blue;
  border: .12em solid transparent;
}

a:hover h2 {
  /* color: rgb(200, 200, 255) !important; */
  color: blue !important;
  background: white;
  border-color: blue;
}

a#titleurl {
  padding: .2em .1em .2em 0;
  text-decoration: none;
}

hr {
  border: 0px solid white;
}

#style {
  font-size: small;
  text-transform: uppercase;
  font-style: italic;
  /* color: gray; */
  font-weight: 400;
}

#style:hover {
  color: black;
  font-weight: 800;
}





@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {

  /* Styles for high-DPI displays */
  .leaflet-tile {
    background-size: 200%;
    /* Adjust background size for high-DPI */
  }
}